.price {
  &__top {
    background: url('/img/price.png') right no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__title {
      font-size: 60px;
      color: #fff;
    }
  }
}

.price-list {
  background-color: #f6f6f6;
  padding: 60px 0 100px;
  &__text {
    max-width: 520px;
    margin-bottom: 40px;
  }
}

.panel {
  background-color: #fff;
  margin-bottom: 15px;
  &__top {
    background: var(--orange);
    height: 60px;
    width: 100%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: .3s all ease;
    &:before{
      content: '';
      background: #fff;
      position: absolute;
      width: 20px;
      height: 3px;
      right: 15px;
      transition: .3s all ease;
    }
    &:after{
      content: '';
      background: #fff;
      position: absolute;
      width: 3px;
      height: 20px;
      right: 24px;
      transition: .3s all ease;
    }
    &.active{
      &:after{
        content: '';
        width: 20px;
        height: 3px;
        right: 15px;
      }
    }
  }
  &__bottom {
    padding: 20px 10px;
    &__group{
      display: flex;
    }
    span{
      border: 1px solid;
      font-size: 14px;
      opacity: .54;
      line-height: 1.29;
      padding: 10px;
    }
    &__name{
      width: 70%;
    }
    &__sq{
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__price{
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}