@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("/app/font/ProximaNova-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaCond-Bold";
  src: url("/app/font/ProximaNovaCond-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaCond-Extrabld";
  src: url("/app/font/ProximaNovaCond-Extrabld.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "ProximaNovaCond-Semibold";
  src: url("/app/font/ProximaNovaCond-Semibold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "ProximaNovaExCn-Extrabld";
  src: url("/app/font/ProximaNovaExCn-Extrabld.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova-Regular";
  src: url("../font/ProximaNova-Regular.ttf") format("truetype");
  font-style: normal;
}

