.footer {
  background-color: var(--orange);
  width: 100%;
  padding: 50px 0 20px;
  &__main {
  }

  &__list {
    display: flex;
    justify-content: center;

  }
  &__item {
    margin: 0 25px;
  }
  &__link {
    text-transform: initial;
    color: #fff;
    font-size: 16px;
    &:hover {
      opacity: .75;
    }
  }

  &__soc{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    &__item{
      position: relative;
      content: '';
      background: #CE5424;
      //position: absolute;
      z-index: 1;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        fill: #fff;
        width: 24px;
        height: 24px;
        transition: .3s all ease;
        &:hover {
          opacity: .75;
        }
      }
    }
  }
}


.copy{
  text-align: center;
  font-size: 14px;
  //margin-top: 30px;
  color: #fff;
  a{
    font-weight: bold;
    font-size: 18px;
    &:hover{
      opacity: 0.5;
    }
  }
}